In [3]:
import pandas as pd

In [7]:
#1 Load Order Details dataset using Pandas
df = pd.read_csv('Details.csv')
df

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode
0,B-25681,1096,658,7,Electronics,Electronic Games,COD
1,B-26055,5729,64,14,Furniture,Chairs,EMI
2,B-25955,2927,146,8,Furniture,Bookcases,EMI
3,B-26093,2847,712,8,Electronics,Printers,Credit Card
4,B-25602,2617,1151,4,Electronics,Phones,Credit Card
...,...,...,...,...,...,...,...
1495,B-25700,7,-3,2,Clothing,Hankerchief,COD
1496,B-25757,3151,-35,7,Clothing,Trousers,EMI
1497,B-25973,4141,1698,13,Electronics,Printers,COD
1498,B-25698,7,-2,1,Clothing,Hankerchief,COD
1499,B-25993,4363,305,5,Furniture,Tables,EMI

In [5]:
# Display basic statistics for numerical columns
print("Basic statistics for numerical columns:")
print(df.describe())

Basic statistics for numerical columns:
            Amount      Profit     Quantity
count  1500.000000  1500.00000  1500.000000
mean    291.847333    24.64200     3.743333
std     461.924620   168.55881     2.184942
min       4.000000 -1981.00000     1.000000
25%      47.750000   -12.00000     2.000000
50%     122.000000     8.00000     3.000000
75%     326.250000    38.00000     5.000000
max    5729.000000  1864.00000    14.000000

In [63]:
#3 count unique values in categorical columns
unique_counts = df['Category'].nunique()
unique_counts
print("Number of unique values in the Category column are:",unique_counts)

Number of unique values in the Category column are: 3

In [65]:
unique_Sub = df['Sub-Category'].nunique()
print("number of Unique values in Sub-Category Are:", unique_Sub)

number of Unique values in Sub-Category Are: 17